:root {
    --dark: #473a93;
    --black: #272727;
    --light: #6b5dbf;
    --grey: #e6ecf0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--grey);
    color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Viga', sans-serif;
}